<% layout('/layouts/boilerplate') %>
    <h1 class="d-flex align-items-center inline-elements">
        <div>Reports for:</div>
        <select
            onchange="window.location=`/reports/${this.value}`"
            class="ms-2 border-0 fw-light" name="plantSelect" id="plantSelect">
            <% for (let plant of currentUser.plants) { %>
            <option <%= currentPlant._id.toString() === plant._id.toString() ? 'selected' : '' %> value="<%= plant._id %>"><%= plant.name %></option>
            <% } %>
        </select>
    </h1>

    <div style="page-break-inside: avoid;" class="mb-3">
        <%- include('../partials/reportTable', {team:'Operations', department:'Program Administration'}) %>
    </div>
    <div style="page-break-after:always; page-break-inside: avoid;" class="mb-3">
        <%- include('../partials/reportTable', {team:'Operations', department:'Implementation and Oversight'}) %>
    </div>
    <div style="page-break-inside: avoid;" class="mb-3">
        <%- include('../partials/reportTable', {team:'Maintenance and Technical', department:'Program Administration'}) %>
    </div>
    <div style="page-break-inside: avoid;" class="mb-3">
        <%- include('../partials/reportTable', {team:'Maintenance and Technical', department:'Implementation and Oversight'}) %>
    </div>





<script>
    document.querySelector('title').innerHTML = `ARC <%= currentPlant.name %> Reports`;
</script>


<script src="/js/showReports.js"></script>
    