<% if (currentUser) { %>
<nav class="navbar navbar-expand-lg bg-primary sticky-top" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/<%= plant || '' %>"><img src="/images/svg/logo.svg" class="p-0" style="width: 60px; height: 40px;" alt=""><%= plant %></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link text-center <%= url === '/' ? 'active' : '' %>" href="/">Home</a>
                <% currentUser.plants.map(cu => cu.name).sort().forEach(userPlant => { %>
                    <a class="nav-link text-center <%= plant === userPlant ? 'active' : '' %>" href="/<%= userPlant %>"><%= userPlant %></a>
                    
                <%})%>
            </div>
            <div class="navbar-nav ms-auto">
                <a class="nav-link text-center active" href="/user/logout">Logout</a>
            </div>
        </div>
    </div>
</nav>

<% } else { %>

    <nav class="navbar navbar-expand-lg bg-primary sticky-top" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="/images/svg/logo.svg" class="p-0" style="width: 60px; height: 40px;" alt="">Accredidation App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    
                </div>
                <div class="navbar-nav ms-auto">
                    <% if (currentUser) { %>
                        <a class="nav-link text-center active" href="/user/logout">Logout</a>
                    <% } else { %>
                        <a class="nav-link text-center active" href="/user/login">Login</a>
                    <% } %>
                </div>
            </div>
        </div>
    </nav>
<% } %>
