<style>
    @media (max-width: 991px) {
        col-2 {
            font-size: calc(0.5vw + 0.5vh);
        }
        .container {
            width: 98% !important;
            max-width: 100% !important;
        }
    }
    @media (max-width: 767px) {
        col-2 {
            font-size: calc(0.5vw + 0.5vh);
        }
        .container {
            width: 98% !important;
            max-width: 100% !important;
        }
    }

    .tableData {
        text-align: right;
        word-break: break-all;
        vertical-align: baseline;
    }
    .tableLabel {
        font-weight: bold;
        text-align: center;
        word-break: break-all;
        vertical-align: middle;
    }
    .tableTotal {
        font-weight: bold;
        text-align: right;
        word-break: break-all;
        vertical-align: middle;
    }

</style>
<h3><%= team %> : <%= department %></h3>
<% const dateTeam = `${team}${department}`.replace(/\s+/g, '') %>
<div style="background-color: #7c838944;" class="tableLabel row">
    <div class="col-2 border border-dark">Status</div>
    <div class="col-2 border border-dark">Incomplete</div>
    <div class="col-2 border border-dark">Uploaded</div>
    <div class="col-2 border border-dark">Reviewed</div>
    <div class="col-2 border border-dark">Approved</div>
    <div class="col-2 border border-dark">Submitted</div>
</div>
<div class="row">
    <div class="tableLabel col-2 border border-dark">Due Date</div>
    <%- include('./modals/dueDate', {dateTeam, dateInstance:'Incomplete'}) %>
    <%- include('./modals/dueDate', {dateTeam, dateInstance:'Uploaded'}) %>
    <%- include('./modals/dueDate', {dateTeam, dateInstance:'Reviewed'}) %>
    <%- include('./modals/dueDate', {dateTeam, dateInstance:'Approved'}) %>
    <%- include('./modals/dueDate', {dateTeam, dateInstance:'Submitted'}) %>

</div>


<% 
let total = 0;
let totalIncomplete = 0;
let totalUploaded = 0;
let totalReviewed = 0;
let totalApproved = 0;
let totalSubmitted = 0;
 %>
<% for (let seg of segs.filter(seg => seg.segInstruction.team === team && seg.segInstruction.department === department)) { %>
    <% 
    const numPrograms = seg.segPrograms.length
    const incomplete = [];
    const uploaded = [];
    const reviewed = [];
    const approved = [];
    const submitted = [];
    total+=numPrograms;
    for (let program of seg.segPrograms) {
        if (program.status === 'Incomplete') {
            incomplete.push(program);
            totalIncomplete++;
        } else if (program.status === 'Uploaded') {
            uploaded.push(program)
            totalUploaded++;
        } else if (program.status === 'Reviewed') {
            uploaded.push(program);
            reviewed.push(program);
            totalUploaded++;
            totalReviewed++;
        } else if (program.status === 'Approved') {
            uploaded.push(program);
            reviewed.push(program);
            approved.push(program);
            totalUploaded++;
            totalReviewed++;
            totalApproved++;
        } else if (program.status === 'Submitted') {
            uploaded.push(program);
            reviewed.push(program);
            approved.push(program);
            submitted.push(program);
            totalUploaded++;
            totalReviewed++;
            totalApproved++;
            totalSubmitted++;
        }
    }
    %>
    
    <div class="row">
        <div class="tableLabel col-2 border border-dark">
            <a href="/plant/<%= currentPlant._id %>/seg/<%= seg.segInstruction._id %>"> <%= seg.segInstruction.segInstructionID %> </a>
        </div>
        <div id="incomplete-<%=seg._id%>" <%= incomplete.length === 0 ? 'style=background-color:lightgreen;' : '' %> class="tableData col-2 border border-dark"><%=incomplete.length%>/<%=numPrograms%></div>
        <div id="uploaded-<%=seg._id%>" <%= uploaded.length === numPrograms ? 'style=background-color:lightgreen;' : '' %> class="tableData col-2 border border-dark"><%=uploaded.length%>/<%=numPrograms%></div>
        <div id="reviewed-<%=seg._id%>" <%= reviewed.length === numPrograms ? 'style=background-color:lightgreen;' : '' %> class="tableData col-2 border border-dark"><%=reviewed.length%>/<%=numPrograms%></div>
        <div id="approved-<%=seg._id%>" <%= approved.length === numPrograms ? 'style=background-color:lightgreen;' : '' %> class="tableData col-2 border border-dark"><%=approved.length%>/<%=numPrograms%></div>
        <div id="submitted-<%=seg._id%>" <%= submitted.length === numPrograms ? 'style=background-color:lightgreen;' : '' %> class="tableData col-2 border border-dark"><%=submitted.length%>/<%=numPrograms%></div>
    </div>
<% } %>

    <div class="row">
        <div class="tableLabel col-2 border border-dark">Total</div>

        <div id="totalIncomplete-<%=team[0]%><%=department[0]%>" <%= totalIncomplete === 0 ? 'style=background-color:lightgreen;' : '' %> class="tableTotal col-2 border border-dark"><%= totalIncomplete %>/<%= total %></div>

        <div id="totalUploaded-<%=team[0]%><%=department[0]%>" <%= totalUploaded === total ? 'style=background-color:lightgreen;' : '' %> class="tableTotal col-2 border border-dark"><%= totalUploaded %>/<%= total %></div>

        <div id="totalReviewed-<%=team[0]%><%=department[0]%>" <%= totalReviewed === total ? 'style=background-color:lightgreen;' : '' %> class="tableTotal col-2 border border-dark"><%= totalReviewed %>/<%= total %></div>

        <div id="totalApproved-<%=team[0]%><%=department[0]%>" <%= totalApproved === total ? 'style=background-color:lightgreen;' : '' %> class="tableTotal col-2 border border-dark"><%= totalApproved %>/<%= total %></div>

        <div id="totalSubmitted-<%=team[0]%><%=department[0]%>" <%= totalSubmitted === total ? 'style=background-color:lightgreen;' : '' %> class="tableTotal col-2 border border-dark"><%= totalSubmitted %>/<%= total %></div>
        
    </div>
