<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARC</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/printStyle.css">
    
    <!-- AXIOS -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Socket.io -->
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
</head>
<!-- <body class="text-bg-dark"> -->

<body>

    <style>
        button .btn:hover {
            cursor: pointer;
            opacity: 0.8 !important;
        }
        #sidebarToggleButton {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 70px;
            box-shadow: 0 0 3px rgba(0, 0, 0, 1);
            position: fixed;
            top: 20%;
            left: 0px;
            z-index: 10000;
            transition: left 0.3s ease-in-out;
            background-color: rgb(0, 96, 247);
            font-size: 25px;
            color: white;
            cursor: pointer;
            

            @media print {
                display: none;
            }
        }
        #sidebarToggleButton:hover {
            opacity: 0.8;
        }

        .nic-edit-main {
            width: 100% !important;
            height: 100% !important;
        }
    </style>


    <%- include('../partials/navbar') %>
        <% if (typeof currentUser !== 'undefined' && currentUser.plants.length) { %>
        <%- include('../partials/sidebar') %>
        <div id="sidebarToggleButton" class="border rounded-end-5 border-0 border-start-0 border"
                type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvasStart">
                ≡
        </div>
        <% } %>
            
            <main class="container mt-3">
                <div class=" container mt-2">
                    <%- include('../partials/flash') %>
                </div>
                <%- body %>
            </main>

            <%- include('../partials/footer') %>

                <!-- Bootstrap -->
                <script src="/js/bootstrap.min.js"></script>
                <script src="/js/jquery.js"></script>
                <script src="/js/validateForms.js"></script>
</body>

</html>