<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARC</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/printStyle.css">
    
    <!-- AXIOS -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Socket.io -->
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
</head>
<!-- <body class="text-bg-dark"> -->

<body>

    <style>
        .nic-edit-main {
            width: 100% !important;
            height: 100% !important;
        }
    </style>


    <%- include('../partials/navbar') %>
        <% if (typeof currentUser !== 'undefined' && currentUser.plants.length) { %>
        <%- include('../partials/sidebar') %>
        
        <% } %>
            
            <main class="container mt-3">
                <div class=" container mt-2">
                    <%- include('../partials/flash') %>
                </div>
                <%- body %>
            </main>

            <%- include('../partials/footer') %>

                <!-- Bootstrap -->
                <script src="/js/bootstrap.min.js"></script>
                <script src="/js/jquery.js"></script>
                <script src="/js/validateForms.js"></script>
</body>

</html>