
<% layout('/layouts/boilerplate') %>
<link rel="stylesheet" href="/css/generalResource.css">
<div id="loadingCircle" class="loading" style="z-index: 10000;"></div>

<h1><%= type %></h1>
<div class="row">

    <div id="pdfSection" class="mb-4" style="position: relative; display: none;">
        <div class="text-end mb-2">
            <button type="button" class="btn btn-secondary" onclick="closePDF()">Close</button>
        </div>
        <div class="text-center">
            <iframe id="pdfWindow" class="rounded d-inline" type="application/pdf"
                style="width: 100%; height: 1000px;" onload="hideLoading()"></iframe>
        </div>
        <div class="loading" id="loadingPDF" style="display: block; position: absolute; top: 50%; left: 45%; transform: translate(-50%, -50%); z-index: 1000;">

        </div>
    </div>

    <% if (currentUser.admin) { %>
    <div class="col-12 col-lg-5 mb-3">
        <form id="fileUploadForm" action="/generalResources?type=<%= type %>" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="files" class="form-label">Upload PDF File</label>
                <input type="file" name="files" id="fileInput" class="form-control" accept=".pdf" multiple required>
            </div>
        </form>
    </div>
    <% } %>

    <div class="col-12 col-lg mb-3">
        <% if (resources.length) { %>
            <form class="" id="fileForm" method="post">
                <ul id="fileListContainer" class="list-group">
                    
                    <li id="deleteHeader" class="list-group-item d-flex align-items-center justify-content-between px-3">
                        <div class="py-2">
                            <input class="border" type="checkbox" id="selectAllCheck">
                            <label id="checkedCount" class="d-inline ps-3">0 Files Selected</label>
                            <button disabled type="button" id="downloadFilesButton" form="fileForm" class="btn btn-secondary ms-2">Download</button>
                        </div>
                        <% if (currentUser.admin) { %>
                        <button disabled type="button" form="fileForm" class="btn btn-danger"
                        id="deleteFilesButton">
                            Delete
                        </button>
                        <% } %>
                    </li>
                <% resources.forEach((resource, i) =>  { %>
                    <li class="list-group-item d-flex justify-content-between">
                        <div class="d-flex pt-2">
                            <div class="">
                                <input id="file<%=i%>" name="files[]" value="<%=resource._id%>" type="checkbox" class="form-check mb-2 deleteCheck">
                            </div>
                            <label class="form-label px-3 text-wrap" for="file<%=i%>">
                                <%= resource.file.originalName %>
                            </label>
                        </div>
                        <div class="d-flex">
                            <div class="row my-auto">
                                <div class="col">
                                    <button type="button" class="btn btn-primary" onclick="showPDF('<%=resource.file.location%>')">View</button>
                                </div>
                            </div>
                        </div>
                    </li>
                <% }) %>
                </ul>
        <% } %>
    </div>

    
</div>

<script>
    const type = '<%= type %>';
</script>
<script src="/js/generalResource.js"></script>
