<!-- Button trigger modal -->
<!-- <button class="col-3  fw-light border border-1 border-dark fs-6" data-bs-toggle="modal" data-bs-target="#exampleModal">

</button> -->


<!-- Modal -->
<% if (currentUser.admin) { %>
    <!-- <form action="/<%=seg.plant%>/<%=seg._id%>/editGroup/<%=program._id%>?_method=PUT" method="post"> -->
        <div class="modal fade" id="<%= count %>groupModal" aria-labelledby="<%= count %>groupLabel" aria-hidden="true"
            data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-4" id="<%= count %>groupLabel">Program Reviewed</h1>
                        <button type="button" class="btn-close reload" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body my-auto">
                        <input type="text" class="form-control" name="group"
                            value="<%= program.group %>">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary reload" data-bs-dismiss="modal">Don't Save</a>
                            <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <% } %>

            <div class="modal fade" id="<%= count %>supportingData" aria-labelledby="<%= count %>supportingDataLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-4" id="<%= count %>supportingDataLabel">
                                <%= program.group %> Supporting Data
                            </h1>
                            <button type="button" class="btn-close reload" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col">
                                    <textarea class="form-control"
                                    name="supportingData"><%= program.supportingData[0] !== '' ? program.supportingData[0] : '' %></textarea>
                                </div>
                                <div class="col">
                                    <form class="mt-5" id="fileUploadForm" action="/<%=plant%>/<%=seg._id%>/files" enctype="multipart/form-data" method="post">
                                        <input name="fileInput" type="file" accept=".pdf" class="form-control mb-2" multiple required>
                                        <button type="submit" class="btn btn-warning" form="fileUploadForm">Upload Files</button>
                                    </form>

                                    <form class="mt-5" id="deleteFileForm" action="/<%=plant%>/<%=seg._id%>/files?_method=DELETE" method="post">
                                        <% seg.files.forEach((file, i) => { %>
                                            <div>
                                                <label class="form-label" for="file<%=i%>"><%= file.originalName %></label>
                                                <input id="file<%=i%>" name="deletedFiles[]" value="<%=file._id%>" type="checkbox" class="form-check-inline mb-2">
                                            </div>  

                                            <div class="my-5">
                                                <embed id="pdfWindow" class="rounded d-inline" type="application/pdf" src="<%= file.location %>" width="850px" height="1150px" />
                                            </div> 

                                        <% }) %>
                                        <button type="submit" class="btn btn-danger" form="deleteFileForm">DELETE Files</button>

                                        
                                    </form>
                                
                                      
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary reload" data-bs-dismiss="modal">Don't
                                Save</a>
                                <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="<%= count %>conclusion" aria-labelledby="<%= count %>conclusionLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-4" id="<%= count %>conclusionLabel">
                                <%= program.group %> Conclusion
                            </h1>
                            <button type="button" class="btn-close reload" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center">
                            <textarea style="width:50%; height: 90%;"
                                name="conclusion"><%= program.conclusion[0] !== '' ? program.conclusion[0] : '' %></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary reload" data-bs-dismiss="modal">Don't
                                Save</button>
                            <button type="submit" class="btn btn-primary"">Save</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="<%= count %>aosr" aria-labelledby="<%= count %>aosrLabel" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-4" id="<%= count %>aosrLabel">
                                <%= program.group %> AOSR
                            </h1>
                            <button type="button" class="btn-close reload" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center">
                            <textarea style="width:50%; height: 90%;"
                                name="aosr"><%= program.aosr[0] !== '' ? program.aosr[0] : '' %></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary reload" data-bs-dismiss="modal">Don't
                                Save</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
    <!-- </form> -->

    

    <script>
        document.querySelectorAll('.reload').forEach(reload => {
            reload.addEventListener('click', () =>
                window.location.reload())
        })
    </script>