<% layout('/layouts/boilerplate') %>
    <h3>
        <%= currentPlant.name %> Archives Index
    </h3>
    <div class="row">
        <div class="col-4 fs-5 fw-bold text-center border border-dark bg-light">Title</div>
        <div class="col-6 fs-5 fw-bold text-center border border-dark bg-light">Notes</div>
        <div class="col-2 fs-5 fw-bold text-center border border-dark bg-light">Date Archived</div>
    </div>
    <% for (let archive of archives) { %>
        <div class="row">
            <div class="col-4 border border-dark d-flex align-items-center justify-content-center">
                <a class="text-center" href="/archives/<%= currentPlant._id %>/<%= archive._id %>">
                    <%= archive.title %>
                </a>
            </div>
            <div class="col-6 border border-dark d-flex align-items-center justify-content-center">
                <p class="mb-0"><%= archive.notes %></p>
            </div>
            <div class="col-2 border border-dark d-flex align-items-center justify-content-center">
                <span><%= archive.date.toLocaleString().split(',')[0] %></span>
            </div>
        </div>
        
    <% } %>

    <script>
        document.querySelector('title').innerHTML = `ARC <%=currentPlant.name%> Archives`;
    </script>