<% layout('/layouts/boilerplate') %>
<link rel="stylesheet" href="/css/segAOSR.css">
<div id="loadingCircle" class="loading" style="z-index: 10000;"></div>
<% const seg=program.seg %>

    <a href="/plant/<%= currentPlant._id %>/seg/<%= seg._id %>/conclusion/<%= program._id %>" id="previousButton"
    class="border border-0 border-start-0 border navigationButtons">
        ←
    </a>
    <a href="/plant/<%= currentPlant._id %>/seg/<%= seg._id %>/supportingData/<%= program._id %>" id="nextButton"
    class="border border-0 border-start-0 border navigationButtons">
        ←
    </a>

<a id="backToSegButton" class="btn btn-primary"
            href="/plant/<%= currentPlant._id %>/seg/<%= seg.segInstruction._id %>">
            Back to <%=seg.segInstruction.segInstructionID %>
</a>

<div class="row px-auto">
    <div class="col mb-3">
        <form id="putForm"
            action="/plant/<%= currentPlant._id %>/seg/<%= seg.segInstruction._id %>/aosr/<%= program._id %>?_method=PUT"
            method="post" enctype="multipart/form-data">
            <div class="my-3">
                <h1 class="fs-3 d-inline">
                    <%=seg.segInstruction.segInstructionID %>, <%=program.name %>, AOSR
                </h1>
                <div class="mx-2 d-inline">
                    <button id="saveaosrButton" type="button" onclick="updateData()" class="btn btn-success me-1">Save</button>
                    <div class="d-inline" id="savingIcon">Saved</div>
                </div>
            </div>
            <div id="aosr-<%= program._id %>">
                <textarea class="form-control"
                name="aosr"><%= program.aosr[0] !== '' ? program.aosr[0] : '' %></textarea>
            </div>
            
        </form>

              
    </div>
</div>



        <!-- NicEdit -->
        <script src="/js/nicEdit.js" type="text/javascript"></script>
        <script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>
        
        <script>
            const currentPlantID = '<%=currentPlant._id%>';
            const segInstructionID = '<%=seg.segInstruction._id%>';
            const programID = '<%=program._id%>';
            document.querySelector('title').innerHTML = `ARC <%= currentPlant.name %>, <%=seg.segInstruction.segInstructionID %>, <%=program.name %>, AOSR`;
        </script>

        <script src="/js/segAOSR.js"></script>