<div id="loadingCircle" class="loading" style="z-index: 10000;"></div>
<% layout('/layouts/boilerplate') %>
<link rel="stylesheet" href="/css/segAOSR.css">
<div id="loadingCircle" class="loading" style="z-index: 10000;"></div>
<% const seg=program.seg %>

    <a href="/plant/<%= currentPlant._id %>/seg/<%= seg._id %>/supportingData/<%= program._id %>" id="previousButton"
    class="border border-0 border-start-0 border navigationButtons">
        ←
    </a>
    <a href="/plant/<%= currentPlant._id %>/seg/<%= seg._id %>/aosr/<%= program._id %>" id="nextButton"
    class="border border-0 border-start-0 border navigationButtons">
        ←
    </a>

<a id="backToSegButton" class="btn btn-primary"
            href="/plant/<%= currentPlant._id %>/seg/<%= seg.segInstruction._id %>">
            Back to <%=seg.segInstruction.segInstructionID %>
</a>

<div class="row px-auto">
    <div class="col mb-3">
        <form id="putForm"
            action="/plant/<%= currentPlant._id %>/seg/<%= seg.segInstruction._id %>/conclusion/<%= program._id %>?_method=PUT"
            method="post" enctype="multipart/form-data">
            <div class="my-3">
                <h1 class="fs-3 d-inline">
                    <%=seg.segInstruction.segInstructionID %>, <%=program.name %>, Conclusion
                </h1>
                <div class="mx-2 d-inline">
                    <button id="saveConclusionButton" type="button" onclick="updateData()" class="btn btn-success me-1">Save</button>
                    <div class="d-inline" id="savingIcon">Saved</div>
                </div>
            </div>
            <div id="conclusion">
                <textarea id="conclusionTextArea-<%= program._id %>" class="form-control"
                name="conclusion"><%= program.conclusion[0] !== '' ? program.conclusion[0] : '' %></textarea>
            </div>
            
        </form>

              
    </div>
</div>



        
  
        <script>
            const programID = '<%=program._id%>';
            const currentPlantID = '<%=currentPlant._id%>';
            const segInstructionID = '<%=seg.segInstruction._id%>';
            const proramID = '<%=program._id%>';
            const userID = '<%=currentUser._id %>';
            const userName = '<%=currentUser.firstName%>' + ' ' + '<%=currentUser.lastName%>';
            document.querySelector('title').innerHTML = `ARC <%= currentPlant.name %>, <%=seg.segInstruction.segInstructionID %>, <%=program.name %>, Conclusion`;
        </script>
        <script src="/js/segConclusion.js"></script>