<% layout('/layouts/boilerplate') %>
    <h1>Edit <%= segInstruction.segInstructionID %> Template</h1>
    <h4 style="color: red;">Changing/Deleting Info will affect all Plants and cannot be undone</h4>
    <form action="/seg/instruction/<%=segInstruction._id%>?_method=PUT<%= typeof fromPlant !== 'undefined' ? `&fromPlant=${fromPlant}` : '' %>" id="confirmSegEditForm" method="post">

        <div class="mb-3">
            <label for="team" class="form-label">Team</label>
            <select name="team" id="team" class="form-control">
                <option <%= segInstruction.team === 'Operations' ? 'selected' : '' %> value="Operations">Operations</option>
                <option <%= segInstruction.team === 'Maintenance and Technical' ? 'selected' : '' %> value="Maintenance and Technical">Maintenance and Technical</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="department" class="form-label">Department</label>
            <select name="department" id="department" class="form-control">
                <option <%= segInstruction.department === 'Program Administration' ? 'selected' : '' %> value="Program Administration">Program Administration</option>
                <option <%= segInstruction.department === 'Implementation and Oversight' ? 'selected' : '' %> value="Implementation and Oversight">Implementation and Oversight</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="segNum" class="form-label">Number</label>
            <input min="1" class="form-control" type="number" name="segNum" id="segNum" value="<%= segInstruction.segNum %>" required>
        </div>

        <div class="mb-3">
            <label class="form-label" for="applicableAOC">Applicable AO&C</label>
            <textarea name="applicableAOC" id="applicableAOC" class="form-control"> <%= segInstruction.applicableAOC %></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label" for="reviewActivity">Review Activity</label>
            <textarea name="reviewActivity" id="reviewActivity" class="form-control"> <%= segInstruction.reviewActivity %></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label" for="dataSubmittal">Data Submittal</label>
            <textarea name="dataSubmittal" id="dataSubmittal" class="form-control"> <%= segInstruction.dataSubmittal %></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label" for="reviewGuidance">Review Guidance</label>
            <textarea name="reviewGuidance" id="reviewGuidance" class="form-control"> <%= segInstruction.reviewGuidance %></textarea>
        </div>

        
            <div class="mb-3" id="programContainer">
                    <label for="program0">Programs that need to Review</label>
                <% segInstruction.programs.forEach((program, i) => { %>
                    <div class="d-flex mb-3">
                        <input disabled type="text" name="programs[]" id="program<%= i %>" class="disabledPrograms form-control" value="<%= program %>" required>
                        <button onclick="deleteRow(this)" type="button" class="btn btn-danger ms-2">DELETE</button>
                    </div>
                <% }) %>
            </div>


        <div class="my-3">
            <button type="button" class="btn btn-info" onclick="addProgramReviewed()">Add More</button>
            <%- include('../partials/modals/confirmSegEdit') %>
        </div>
    </form>






    <script>
        let programCount = '<%= segInstruction.programs.length%>';

        function addProgramReviewed() {
            const container = document.getElementById('programContainer');
            const newProgram = document.createElement('div');
            newProgram.innerHTML = `
            <div class="d-flex mb-3">
                        <input type="text" name="programs[]" id="program${programCount}" class="form-control" required>
                        <button onclick="deleteRow(this)" type="button" class="btn btn-danger ms-2">DELETE</button>
                    </div>
        `;
            container.appendChild(newProgram);
            programCount++;
        }

        function deleteRow(e) {
            e.parentElement.remove()
            programCount--
        } 

        document.querySelector('form').addEventListener('submit', (e) => {
            const inputs = document.querySelectorAll('input, textarea');
            inputs.forEach(input => {
                if (input.value === '') {
                    input.disabled = true;
                } else {
                    input.disabled = false;
                }
            })
        })

        document.querySelector('#confirmSegEditForm').addEventListener('submit', (e) => {
            document.querySelectorAll('.disabledPrograms').forEach(input => {
                input.disabled = false;
            })
        })
    </script>