<% layout('/layouts/boilerplate') %>
  <link rel="stylesheet" href="/css/showSeg.css">

    <% if (previousSeg) {%>
        <a href="/plant/<%= currentPlant._id %>/seg/<%= previousSeg._id %>" id="previousButton"
            class="border border-0 border-start-0 border navigationButtons">
            ←
        </a>
        <% } %>

            <% if (nextSeg) {%>
                <a href="/plant/<%= currentPlant._id %>/seg/<%= nextSeg._id %>" id="nextButton"
                    class="border border-0 border-start-0 border navigationButtons">
                    ←
                </a>
                <% } %>


                    <div class="d-flex justify-content-between">
                        <a class="btn btn-primary" href="/plant/<%= currentPlant._id %>" id="backToPlantButton">Back to
                            <%= currentPlant.name %> Plant</a>
                        <h4 class="d-flex align-items-center inline-elements">
                            <select onchange="window.location=`/plant/${this.value}/seg/<%=seg.segInstruction._id%>`"
                                class="ms-2 border-0 fw-light" name="plantSelect" id="plantSelect">
                                <% for (let plant of currentUser.plants) { %>
                                    <option <%=currentPlant._id.toString()===plant._id.toString() ? 'selected' : '' %>
                                        value="<%= plant._id %>"><%= plant.name %>
                                    </option>
                                    <% } %>
                            </select>
                        </h4>
                    </div>

                    <h3 class="text-center fw-bold">
                        <%= seg.segInstruction.team %> Training (Implementation and Oversight) SAT Evaluation Guide
                            (SEG)
                    </h3>

                    <div class="mb-5">
                        <div class="row bg-secondary fw-bold text-center">
                            <div class="col border border-1 border-dark text-break">
                                <p class="my-auto fs-6">Applicable AO&C</p>
                            </div>
                            <div class="col border border-1 border-dark text-break">
                                <p class="my-auto fs-6">Review Activity</p>
                            </div>
                            <div class="col border border-1 border-dark text-break">
                                <p class="my-auto fs-6">Data Submittal</p>
                            </div>
                            <div class="col border border-1 border-dark text-break">
                                <p class="my-auto fs-6">Review Guidance</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col fw-normal border border-1 border-dark text-break">
                                <p class="fw-bold fs-6">
                                    <%= seg.segInstruction.segInstructionID %>
                                </p>
                                <p class="fs-6 formattedText"><%- seg.segInstruction.applicableAOC %></p>
                            </div>
                            <div class="col  fw-normal border border-1 border-dark text-break">
                                <p class="fs-6 formattedText"><%- seg.segInstruction.reviewActivity %></p>
                            </div>
                            <div class="col  fw-normal border border-1 border-dark text-break">
                                <p class="fs-6 formattedText"><%- seg.segInstruction.dataSubmittal %></p>
                            </div>
                            <div class="col  fw-normal border border-1 border-dark text-break">
                                <p class="fs-6 formattedText"><%- seg.segInstruction.reviewGuidance %></p>
                            </div>
                        </div>

                        <div class="row bg-secondary">
                            <div class="col-1 text-center fw-bold border border-1 border-dark text-break">
                                <p class="my-auto fs-6">Program</p>
                            </div>
                            <div class="col-5 text-center fw-bold border border-1 border-dark text-break">
                                <p class="my-auto fs-6">Supporting Data</p>
                            </div>
                            <div class="col text-center fw-bold border border-1 border-dark text-break">
                                <p class="my-auto fs-6">Conclusion</p>
                            </div>
                            <div class="col text-center fw-bold border border-1 border-dark text-break">
                                <p class="my-auto fs-6">AOSR</p>
                            </div>
                        </div>

                        <%seg.segPrograms.forEach((program,count)=> { %>
                            <div class="row">
                                <div class="col-1 fw-bold border border-1 border-dark fs-6 text-break">
                                    <div class="text-center pt-1 mb-2">
                                        <%= program.name %>
                                    </div>
                                    <form
                                        action="/plant/<%= currentPlant._id %>/seg/<%= seg.segInstruction._id %>/status/<%= program._id %>?_method=PUT"
                                        id="statusForm<%=count%>" method="post">
                                        <select id="programStatus-<%=program._id%>" <%=program.status==='Submitted'
                                            ? 'style=background-color:rgb(123,187,123);' : '' %> class="statusSelect
                                            form-control text-center mb-2" name="status">
                                            <option <%=program.status==='Incomplete' ? 'selected' : '' %>
                                                value="Incomplete">Incomplete</option>
                                            <option <%=program.status==='Uploaded' ? 'selected' : '' %>
                                                value="Uploaded">Uploaded</option>
                                            <option <%=program.status==='Reviewed' ? 'selected' : '' %>
                                                value="Reviewed">Reviewed</option>
                                            <option <%=program.status==='Approved' ? 'selected' : '' %>
                                                value="Approved">Approved</option>
                                            <option <%=program.status==='Submitted' ? 'selected' : '' %>
                                                value="Submitted">Submitted</option>
                                        </select>
                                    </form>
                                    <div class="text-center mb-2">
                                        <a style="text-decoration: none;" href="/plant/<%= currentPlant._id %>/seg/<%= seg.segInstruction._id %>/<%= program._id %>/history">History</a>
                                    </div>
                                    
                                </div>

                                <div class="col-5 fw-normal border border-1 border-dark text-break clickable-div"
                                    onclick="window.open('/plant/<%= currentPlant._id %>/seg/<%= seg.segInstruction._id %>/supportingData/<%= program._id %>', '_blank', 'noopener,noreferrer')">
                                    <div id="supportingData-<%=program._id%>" class="fs-6 mb-2"><%- program.supportingData %>
                                    </div>
                                    <p id="supportingDataFiles-<%=program._id%>" class="fs-6"><%-
                                            program.supportingDataFiles.length %> Attachments</p>

                                </div>

                                <div class="col fw-normal border border-1 border-dark text-break clickable-div"
                                    onclick="window.open('/plant/<%= currentPlant._id %>/seg/<%= seg.segInstruction._id %>/conclusion/<%= program._id %>', '_blank', 'noopener,noreferrer')">
                                    <div id="conclusion-<%=program._id%>" class="fs-6"><%- program.conclusion %></div>
                                </div>
                                <div class="col fw-normal border border-1 border-dark text-break clickable-div"
                                    onclick="window.open('/plant/<%= currentPlant._id %>/seg/<%= seg.segInstruction._id %>/aosr/<%= program._id %>', 'noopener,noreferrer')">
                                    <div id="aosr-<%=program._id%>" class="fs-6"><%- program.aosr %></div>
                                </div>
                            </div>
                            <% }); %>
                                <% if (currentUser.admin) { %>
                                    <div class="d-flex justify-content-end">
                                        <a class="btn btn-warning mt-2"
                                            href="/seg/instruction/<%= seg.segInstruction._id %>?fromPlant=<%= currentPlant._id %>">Edit
                                            Seg Template</a>
                                    </div>
                                    <% } %>





        <script src="/js/showSeg.js"></script>

        <script>
            document.querySelector('title').innerHTML = `ARC <%=currentPlant.name%> <%= seg.segInstruction.segInstructionID %>`;
            const userID = '<%=currentUser._id%>';
        </script>