<style>
    .crop {
        height: 500px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4; /* Adjust the number of lines as needed */
        -webkit-box-orient: vertical;
        line-height: 2; /* Adjust line height to fit the content better */
        font-size: 5px;
    }
        .container{
            max-width: 95%;
        }
        .bg-secondary {
            background-color: #7c838944 !important;
        }

        .trashcans {
            cursor: pointer;
        }

        select {
            cursor: pointer;
        }
        
        .clickable-div {
            cursor: pointer;
        }
            
</style>

<% layout('/layouts/boilerplate') %>
<style>
     .formattedText {
    white-space: pre-wrap;
}
</style>

<% if (currentUser.admin) { %>
    <form action="/<%=plant%>/<%=seg.seg_ID%>?_method=DELETE" method="post">
        <div class="d-flex justify-content-between mb-2">
            <a class="btn btn-primary" href="/<%=plant%>">Back to <%=plant%></a>
            <button id="backToPlantButton" class="text-end btn btn-danger" type="submit">Delete <%= seg.seg_ID %></button>
        </div>  
    </form>
<% } else {%>
    <div class="d-flex justify-content-between mb-2">
        <a id="backToPlantButton" class="btn btn-primary" href="/<%=plant%>">Back to <%=plant%></a>
    </div>
<% } %>


    <h3 class="text-center fw-bold">
        <%= seg.team %> Training (Implementation and Oversight) SAT Evaluation Guide (SEG)
    </h3>

   



    <div class="mb-5">
        <div class="row bg-secondary fw-bold text-center">
            <div class="col border border-1 border-dark text-break">
                <p class="my-auto fs-6">Applicable AO&C</p>
            </div>
            <div class="col border border-1 border-dark text-break">
                <p class="my-auto fs-6">Review Activity</p>
            </div>
            <div class="col border border-1 border-dark text-break">
                <p class="my-auto fs-6">Data Submittal</p>
            </div>
            <div class="col border border-1 border-dark text-break">
                <p class="my-auto fs-6">Review Guidance</p>
            </div>
        </div>
        <% if (currentUser.admin) { %>
            <form action="/<%=plant%>/<%=seg.seg_ID%>?_method=PUT" method="post" id="editForm">
                <%- include('../partials/modals/instructionInput')%>
            </form>
        <% } %>
        <div class="row">
            <div class="col fw-normal border border-1 border-dark text-break" <%= currentUser.admin ? 'data-bs-toggle=modal data-bs-target=#applicableAOCModal' : '' %> >
                <p class="fw-bold fs-6"><%= seg.seg_ID %></p>
                <p class="fs-6 formattedText"><%- seg.applicableAOC %></p>
            </div>
            <div class="col  fw-normal border border-1 border-dark text-break" <%= currentUser.admin ? 'data-bs-toggle=modal data-bs-target=#reviewActivityModal' : '' %>>
                <p class="fs-6 formattedText"><%- seg.reviewActivity %></p>
            </div>
            <div class="col  fw-normal border border-1 border-dark text-break" <%= currentUser.admin ? 'data-bs-toggle=modal data-bs-target=#dataSubmittalModal' : '' %> >
                <p class="fs-6 formattedText"><%- seg.dataSubmittal %></p>
            </div>
            <div class="col  fw-normal border border-1 border-dark text-break" <%= currentUser.admin ? 'data-bs-toggle=modal data-bs-target=#reviewGuidanceModal' : '' %> >
                <p class="fs-6 formattedText"><%- seg.reviewGuidance %></p>
            </div>
        </div>

        <div class="row bg-secondary">
            <div class="col-2 text-center fw-bold border border-1 border-dark text-break">
                <p class="my-auto fs-6">Program Reviewed</p>
            </div>
            <div class="col-1 text-center fw-bold border border-1 border-dark text-break">
                <p class="my-auto fs-6">Status</p>
            </div>
            <div class="col text-center fw-bold border border-1 border-dark text-break">
                <p class="my-auto fs-6">Supporting Data</p>
            </div>
            <div class="col text-center fw-bold border border-1 border-dark text-break">
                <p class="my-auto fs-6">Conclusion</p>
            </div>
            <!-- <div class="col text-center fw-bold border border-1 border-dark text-break">
                <p class="my-auto fs-6">AOSR</p>
            </div> -->
        </div>
        
        <%seg.programReviewed.forEach((program,count) => { %>  
        <div class="row">

            <% if (currentUser.admin) { %>
                <div class="col-2 fw-bold border border-1 border-dark fs-6 text-break" data-bs-toggle="modal" data-bs-target="#<%= count %>groupModal">
                    <img class="trashcans d-inline my-3" style="height: 25px;" src="/images/svg/trash.svg" data-bs-toggle="modal" data-bs-target="#deleteRow<%=count%>Modal"><p class="d-inline"><%= program.group %></p>
                </div>
            <% } else { %>
                <div class="col-2 fw-bold border border-1 border-dark fs-6 text-break">
                    <p class=""><%= program.group %></p>
                </div>
            <% } %>    

            <div class="col-1 border border-1 border-dark">
                <form action="/<%=seg.plant%>/<%=seg._id%>/editGroup/<%=program._id%>?_method=PUT" id="statusForm<%=count%>" method="post">
                    <select <%= program.status === 'Submitted' ? 'style=background-color:rgb(123,187,123);' : '' %> class="statusSelect form-control text-center my-3" name="status">
                        <option <%= program.status === 'Incomplete' ? 'selected' : '' %> value="Incomplete">Incomplete</option>
                        <option <%= program.status === 'Uploaded' ? 'selected' : '' %> value="Uploaded">Uploaded</option>
                        <option <%= program.status === 'Reviewed' ? 'selected' : '' %> value="Reviewed">Reviewed</option>
                        <option <%= program.status === 'Approved' ? 'selected' : '' %> value="Approved">Approved</option>
                        <option <%= program.status === 'Submitted' ? 'selected' : '' %> value="Submitted">Submitted</option>
                    </select>
                </form>
            </div>

            <div class="col fw-normal border border-1 border-dark text-break clickable-div" 
            onclick="window.open('/<%= plant %>/<%= seg.seg_ID %>/supportingData/<%= program._id %>', '_blank', 'noopener,noreferrer')">
                <p class="fs-6"><%- program.supportingData %></p>
            </div>

            <div class="col fw-normal border border-1 border-dark text-break clickable-div" 
            onclick="window.open('/<%= plant %>/<%= seg.seg_ID %>/conclusion/<%= program._id %>', '_blank', 'noopener,noreferrer')">
                <p class="fs-6"><%- program.conclusion %></p>
            </div>

            <!-- <div class="col  fw-normal border border-1 border-dark fs-6 text-break">
                <a class="btn btn-info" target="_blank" rel="noopener noreferrer"  href="/<%= plant %>/<%= seg.seg_ID %>/aosr/<%= program._id %>">Edit</a>
                <p class="fs-6"><%- program.aosr %></p>
            </div> -->
        </div>

        <%- include('../partials/modals/inputData', {program, count})%>

        <% }); %>

        



    <% if (currentUser.admin) { %>
        <button type="button" id="addRowButton" class="btn btn-info my-2" data-bs-toggle="modal" data-bs-target="#addRowModal">Add Row</button>
        <%- include('../partials/modals/addRow')%>

        <%seg.programReviewed.forEach((program,count) => { %>  
            <%- include('../partials/modals/deleteRow', {program, count})%>
        <% }); %>
    <% } %>

    <script>
        const addGroupInput = document.querySelector('#addGroupInput');
        document.querySelector('#editForm').addEventListener('submit',() => {
            if (addGroupInput.value === '') {
                addGroupInput.setAttribute('disabled', true);
            }
        })

        const statusSelects = document.querySelectorAll('.statusSelect');
        statusSelects.forEach(select => {
            select.addEventListener('change', () => {
                if (select.value === 'Submitted') {
                    select.style.backgroundColor = 'rgb(123,187,123)';
                } else {
                    select.style.backgroundColor = 'white';
                }
                
                select.parentElement.submit();
            })
        })


    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function(event) { 
            const scrollpos = localStorage.getItem('scrollpos');
            if (scrollpos) window.scrollTo(0, scrollpos);
        });

        window.onbeforeunload = function(e) {
            localStorage.setItem('scrollpos', window.scrollY);
        };
    </script>

    <script>
        document.querySelector('#backToPlantButton').addEventListener('click', () => {
            localStorage.removeItem('scrollpos');
        })
    </script>

