<% layout('/layouts/boilerplate') %>
<div class="d-flex justify-content-between">
    <a class="btn btn-primary" href="/plant/<%= currentPlant._id %>/edit">Edit <%= currentPlant.name %></a>
    <%- include('../partials/modals/deletePlant')%>
</div>

<h1 class=""><%= currentPlant.name %></h1>
<h2><a href="/seg/instruction/new">Create new Seg Template</a></h2>

<div class="row">
    <div class="col text-center">
        <h3 class="mb-5">Operations</h3>
        <div class="row">
            <div class="col">
                <h4>Program Administration</h4>
                <ul>
                    <% for (let segInstruction of segInstructions.filter(segInstruction => segInstruction.team === 'Operations' && segInstruction.department === 'Program Administration')) { %>
                        <li>
                            <a href="/plant/<%= currentPlant._id %>/seg/<%= segInstruction._id %>"><%= segInstruction.segInstructionID %></a>
                        </li>
                    <% } %>
                </ul>
            </div>
            <div class="col">
                <h4>Implementation and Oversight</h4>
                <ul>
                    <% for (let segInstruction of segInstructions.filter(segInstruction => segInstruction.team === 'Operations' && segInstruction.department === 'Implementation and Oversight')) { %>
                        <li>
                            <a href="/plant/<%= currentPlant._id %>/seg/<%= segInstruction._id %>"><%= segInstruction.segInstructionID %></a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
    <div class="col text-center">
        <h3 class="mb-5">Maintenance and Technical</h3>
        <div class="row">
            <div class="col">
                <h4>Program Administration</h4>
                <ul>
                    <% for (let segInstruction of segInstructions.filter(segInstruction => segInstruction.team === 'Maintenance and Technical' && segInstruction.department === 'Program Administration')) { %>
                        <li>
                            <a href="/plant/<%= currentPlant._id %>/seg/<%= segInstruction._id %>"><%= segInstruction.segInstructionID %></a>
                        </li>
                    <% } %>
                </ul>
            </div>
            <div class="col">
                <h4>Implementation and Oversight</h4>
                <ul>
                    <% for (let segInstruction of segInstructions.filter(segInstruction => segInstruction.team === 'Maintenance and Technical' && segInstruction.department === 'Implementation and Oversight')) { %>
                        <li>
                            <a href="/plant/<%= currentPlant._id %>/seg/<%= segInstruction._id %>"><%= segInstruction.segInstructionID %></a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>


