<% layout('/layouts/boilerplate') %>

<div class="row">
    <div class="card col-3 p-0">
        <img src="<%= currentPlant.image.location %>" class="card-img-top" alt="Plant Picture">
        <div class="card-body">
          <h5 class="card-title m-0"><%= currentPlant.name %></h5>
        </div>
        <% if (currentUser.admin) { %>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="/plant/<%= currentPlant._id %>/edit">Edit Plant Profile</a></li>
          <li class="list-group-item"><a href="#">Manage People</a></li>
          <%- include('../partials/modals/deletePlant')%>
        </ul>
        <% } %>
      </div>


    <div class="col text-center">
        <div class="row">
            <div class="col">
                <ul class="list-group">
                    <li class="list-group-item">OPPAs</li>
                    <% for (let segInstruction of segInstructions.filter(segInstruction => segInstruction.team === 'Operations' && segInstruction.department === 'Program Administration')) { %>
                        <li class="list-group-item">
                            <a href="/plant/<%= currentPlant._id %>/seg/<%= segInstruction._id %>"><%= segInstruction.segInstructionID %></a>
                        </li>
                    <% } %>
                </ul>
            </div>
            <div class="col">
                <ul class="list-group">
                    <li class="list-group-item">OPIOs</li>
                    <% for (let segInstruction of segInstructions.filter(segInstruction => segInstruction.team === 'Operations' && segInstruction.department === 'Implementation and Oversight')) { %>
                        <li class="list-group-item">
                            <a href="/plant/<%= currentPlant._id %>/seg/<%= segInstruction._id %>"><%= segInstruction.segInstructionID %></a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
    <div class="col text-center">
        <div class="row">
            <div class="col">
                <ul class="list-group">
                    <li class="list-group-item">MTPAs</li>
                    <% for (let segInstruction of segInstructions.filter(segInstruction => segInstruction.team === 'Maintenance and Technical' && segInstruction.department === 'Program Administration')) { %>
                        <li class="list-group-item">
                            <a href="/plant/<%= currentPlant._id %>/seg/<%= segInstruction._id %>"><%= segInstruction.segInstructionID %></a>
                        </li>
                    <% } %>
                </ul>
            </div>
            <div class="col">
                <ul class="list-group">
                    <li class="list-group-item">MTIOs</li>
                    <% for (let segInstruction of segInstructions.filter(segInstruction => segInstruction.team === 'Maintenance and Technical' && segInstruction.department === 'Implementation and Oversight')) { %>
                        <li class="list-group-item">
                            <a href="/plant/<%= currentPlant._id %>/seg/<%= segInstruction._id %>"><%= segInstruction.segInstructionID %></a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>


